DISCORD_TOKEN=<YOUR TOKEN HERE>
DISCORD_CLIENT_ID=<YOUR CLIENT ID HERE>
WEATHER_API_KEY=<YOUR API KEY HERE>
DB_HOST=<YOUR DB HOST HERE>
DB_PORT=<YOUR DB PORT HERE>
DB_NAME=<YOUR DB NAME HERE>
DB_USER=<YOUR DB USER HERE>
DB_PASSWORD=<YOUR DB PASSWORD HERE>
